@charset "utf-8";
/* CSS Document */

body{
  background:#f1f9f9;
}
.bold{
    background-image: url( 'images/background.jpg' ) !important;
}
.subdued{
    background-image: url( 'images/background_sub.jpg' ) !important;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family: Tahoma, Geneva, sans-serif;
	color: #990000;
	font-weight: lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
/*border:solid red 1px; */
	margin-top: 110px;
}
.navbar-brand{
	font-family: "Lucida Handwriting";
}
#btn-submit{
	height:45px;
}
.h5{
	font-family:Verdana, Geneva, sans-serif;
}
h1{
	font-family:Verdana, Geneva, sans-serif;
}


.hide_me{
  display: none;
  opacity: 0;
}
.show_me{
  display: visible;
  opacity: 1;
  transition: opacity 4.5s linear;
}


/** CSS for badge display START **/
div.challenge_title{
  color: #00A2D1;
  position: relative;
  top: -5px;
}
div.pretty{
  text-align: center;
  font-size: 2em;
  padding: 20px;
  width: 250px;
  min-height: 250px;
  overflow: auto;
  text-align: center;
/*  background-color: rgb( 175, 177, 165 ); */
  background-color: #edebd7;
  border-radius: 10px;
}
div.pretty p{
  font-size: .5em;
  color: black;
}
span.score{
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #ffbc42;
  color: #00A2D1;
  padding-top: 10px;
}
span.start{
  display: block;
  float: left;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb( 250, 255, 189 );
  color: #00A2D1;
}
span.goal{
  display: block;
  float: right;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb( 250, 255, 189 );
  color: #00A2D1;
}
/** CSS for badge display END **/